html {
  background-image: linear-gradient(0deg, #ffb037 12.50%, #ffe268 12.50%, #ffe268 25%, #364547 25%, #364547 37.50%, #2f5d62 37.50%, #2f5d62 50%, #ffb037 50%, #ffb037 62.50%, #ffe268 62.50%, #ffe268 75%, #364547 75%, #364547 87.50%, #2f5d62 87.50%, #2f5d62 100%);
  background-size: 160.00px 160.00px;
  font-family: 'Architects Daughter', cursive;
}

h1 {
  color: #2f5d62;
  padding: 10px;
}

#heading {
  background-color: white;
  text-align: center;
}

.box {
  margin: 50px auto;
  max-width: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2f5d62;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #ffb037;
}

input[type="checkbox"] {
  margin: 20px;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #2f5d62;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #2f5d62;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

input[type="text"] {
  font-family: 'Architects Daughter', cursive;
  color: #2f5d62;
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #2f5d62;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  text-align: center;
  color: white;
}
